*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

:root {
  --color-red: #FB4C47;
  --color-green: #035755;
  --color-white: #fff; }

body {
  line-height: 1.6;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  background: var(--background-color); }

.navbar-brand {
  font-family: 'Red Hat Display', sans-serif; }

.navbar {
  padding: 1.5rem 4rem; }
  .navbar-brand {
    color: #035755;
    font-size: 1.9rem; }
    .navbar-brand:hover {
      color: var(--color-red); }
    .navbar-brand__img {
      height: 5rem;
      margin-right: 2rem; }
  .navbar-toggler {
    background: transparent;
    outline: none;
    border: 1px solid var(--color-red); }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none; }
  .navbar-menu-icon {
    color: var(--color-red);
    font-size: 2rem; }

.nav-link {
  color: #035755;
  font-size: 1.8rem;
  margin-right: 2rem;
  position: relative; }
  .nav-link:hover {
    color: var(--color-red); }
    .nav-link:hover::before {
      content: "";
      position: absolute;
      top: 3.3rem;
      right: 4.5rem;
      height: .6rem;
      width: .6rem;
      border-radius: 50%;
      background: var(--color-red); }
  .nav-link:last-child {
    padding-right: 2rem; }

.nav-link.active {
  color: var(--color-red); }

.btn-nav {
  color: var(--color-red);
  border: 2px solid var(--color-red);
  border-radius: 50px;
  padding: .7rem 4rem;
  font-size: 1.8rem; }
  .btn-nav:hover {
    background: var(--color-green);
    border-color: currentcolor;
    color: var(--color-white); }

.header {
  height: 102.4rem;
  width: 100vw;
  background: url(../img/header-bg.png); }
