*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

:root{
    --color-red: #FB4C47;
    --color-green: #035755;
    --color-white: #fff;
    --bs-red: #FB4C47;
}

body{
    line-height:  1.6;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    background: var(--background-color);
    font-size: 1.6rem;
}