.title-small{
    font-size: 2.2rem;
    @extend %title;
    color: var(--color-red);
}
.title-big{
    @extend %title;
    font-size: 3.8rem;
    color: var(--color-green);
    margin-top: 2.6rem;

}

%text-para{
    font-size: 2rem;
    line-height: 2;
    margin: 3rem 0;
}

%text-margin{
    margin: 2rem 57rem;
    margin-bottom: 4rem;

}