$utilities: () !default;
$utilities: map-merge(
    (
        'button-padding-x':(
            property: padding-right padding-left,
            class: bx,
            values: (
                0: 0,
                .7: 0.5rem,
                1: 0.625rem,
                2: 1.25rem,
                3: 1.875rem,
                4: 2.5rem,
                5: 3.125rem
                
            )
        ),
        'button-padding-y':(
            property: padding-top padding-bottom,
            class: by,
            values: (
                0: 0,
                .7: 0.5rem,
                1: 0.625rem,
                2: 1.25rem,
                3: 1.875rem,
                4: 2.5rem,
                5: 3.125rem
                
            ),
        ),
    ),

    $utilities
);